.App {
  text-align: center;
}

.App-header {
  background-color: #f9f28d;
  padding: 20px;
}

.App-header h1 {
  font-family: "Montserrat-Black", Arial, sans-serif;
}

.App select {
  font-family: "Montserrat-Black", Arial, sans-serif;
  margin: 20px;
  padding: 10px;
}
